/*
Some general styles for the Mobile Menu with JavaScript exercise.
*/

.div-col {
            list-style-type: none;
            display: flex;
            padding: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
scroll-behavior: smooth;
}

body {
    font-family: "Helvetica", Arial, sans-serif;
}

a {
    text-decoration: none;
}

 #desktop-list {
   display: flex; 
}  

footer {
    color: rgb(210, 220, 230);
    background-color: blue;
    font-size: 0.8em;
}

footer a {
    color: rgb(210, 220, 230);
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

nav#secondary-nav {
    /*position: fixed;*/
    bottom: 0;
}

nav#secondary-nav ul {
    margin-left: 20px;
    display: flex;
}

nav#secondary-nav ul li {
    margin-right: 3px;
}

nav#secondary-nav ul li:last-child {
    margin-left: 20px;
}


nav#secondary-nav ul li a {
    font-size: 0.8em;
    background-color: rgba(210, 220, 230, 0.8);
    color: rgb(40, 50, 60);
    padding: 3px;
}

nav#secondary-nav ul li a:hover {
        color: rgba(230, 240, 250, 1);
        background-color: rgb(40, 50, 60);
}

nav#secondary-nav ul li:last-child a:hover {
        background-color: rgba(255, 128, 0, 1);
            color: rgb(40, 50, 60);
}

.overview h1,
.overview p,
.overview ul {
    padding: 20px;
}

.overview ul {
    list-style-type: none;
}

body {
    background: fixed;
    background-image: url(../img/icons8-berliner-fernsehturm-50.png);
}

 
        
/* 
Reset
*/        

    #desktop-nav {
        display: none;
    }

  
        
        
/* 
Layout, mobile first
*/   
        
body,
section {
    padding-top: 13vw;
}  

#cvHeaderlist{
    /*list-style-type: none;*/
    padding-top: 4vh;
    padding-left: 12vh;
    padding-bottom: 8vh;
    
    
}

#cvMainlist{
    /*list-style-type: none;*/
    padding-top: 2vh;
    padding-left: 8vh;
    padding-bottom: 10vh;
}

.cvAbstand {
    
 padding-bottom: 2vh;
 font-size: 3vh
}

article,p {
    margin: 1em 0;
}

footer {
    margin-top: 25vh;
    padding-bottom: 3vh;
    padding-top: 1vh;
}
        
#desktop-nav ul,        
h1,h2,h3,
p {
   padding: 0 20px;         
        }
               
        
/* 
Nav
*/        
        
        
/** 
Nav, general
**/
main a {        
            display: block;
            color: white;
            padding-top: 12vw;
            text-decoration: none;
            text-align: center;
            width: 40vw;
            height:40vw;
            border: 1px solid black;
            border-radius: 20vw;
            font-size: 0.8em;
                                /*background-image: url(../img/night-photograph-4581108_1920.jpg);*/
            background-size: cover;
            /*overflow: visible;*/
}

a.aSkills {
    background-color: red;
    margin-top: 10vh;
  }

a.aExperiences {
    background-color: blue;
    margin-top: 10vh;
}

a.aCV {
    background-color: green;
    }

a.aLikes {
    background-color: orange;
    background-image: url(../img/night-photograph-4581108_1920.jpg);
    background-position: center;
    background-size: cover;
    }


main ul {
    list-style-type: none;
}


main ul ul {
    display: block;
}

main ul li {
    margin-left: 2vw;
    padding-left: 1vw;
    padding-bottom: 3vw;
    font-size: 4vw;
}

main ul li a p {
    font-size: 2vw;
}

  
nav ul {
    list-style-type: none;
}

nav a {
    color: rgb(240,240,240);
    background-color: blue;
        border-radius: 2vh
} 

nav a:hover {
    color: #fff;
    background-color: blue;
} 

        
/** 
Nav, mobile
**/       
        
#burger-icon {
    margin: 0 20px;
}

#burger-icon div {
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: rgba(150,160,170,0.9);
    margin: 3px 0 0 0;
}


#burger-icon:hover div {
    background-color: rgb(160,170,180);
}

#burger-icon:hover {
cursor: pointer;
    }

#mobile-nav ul {
    margin-top: 11px;
}

#mobile-nav ul li {
    margin-top: 1px;
}

#mobile-nav ul li a {
    display: inline-block;
    width: 100%;
    padding: 10px 20px; 
    font-size: 1em;
}


#mobile-nav {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 40px;  /*Here's the magic: try and set the value to 195px*/
    padding-top: 5px;
    overflow-y: hidden;
    background-color: rgba(230,240,240,0.8);
}
        
        
/** 
Nav, desktop
**/   
        
#desktop-nav {
    position: fixed;
    top: 0px;
}

#desktop-nav ul {
    display: flex;
}
    
#desktop-nav ul li a {
    padding: 3px 5px;
    margin-right: 2px;
}

        
        
/* 
Responsive design, mobile first 
*/
        
@media only screen and (min-width: 600px) {


    /* 
    Nav, desktop
    */
    
.desktop-list {
   display: flex; 
}
    

  #desktop-nav {
        display: block;
           }

    #mobile-nav {
        display: none;
    }
    /* 
    Layout, desktop 
    */   

    body,
    section {
        padding-top: 4vw;

    } 

    #desktop-nav ul,        
    h1,h2,h3,
    p {
        padding: 0 10vw;         
    }
 }

#skillsSectionmargin {
    margin-left: 10vw;
} 
