/* 
Stylesheet for Homepage 02 in the MAT 22b class at DCI Oct/Nov 2019.
Author Toralf Lischke
*/

/*
Import

@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');
/*
Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}     /*  * - means all in the page, empty selector*/ 

/*
Navigation
*/


.main-nav {
            position: fixed;
            top: 0;
            width: 100%;
}

.main-nav ul {
            list-style-type: none;
            display: flex;
            padding: 0;
}

.main-nav ul li{
            margin-right: 10px;
}

.main-nav ul li a {
            display: inline-block;
            font-family: 'Helvetica',Arial, sans-serif;
            background-color: orange;
            color: white;
            padding: 3px 6px;
            text-decoration: none;
}

.main-nav ul li a:hover {        
            background-color: red; 
            color: black;
}
/* font-cascade - first find 'Helvetica', if not in system use 'Arial', if not include use 'sans-serif'*/

.circle1 {
            /*position: fixed;*/
            top: 300px;
            width: 100%;
}




.circle1 ul {
            list-style-type: none;
            display: flex;
            padding: 0;
}

.circle1 ul li{
            margin-right: 10px;
}

.circle1 ul li a {
            display: inline-block;
            font-family: 'Helvetica',Arial, sans-serif;
            background-color: red;
            color: white;
            padding-top: 40%;
            text-decoration: none;
            text-align: center;
            width: 100px;
            height: 100px;
            border: 1px solid black;
            border-radius: 100%;
            
}

.circle1 ul li a:hover {        
            background-color: red; 
            color: black;
}

/*
Color
*/

body {
}

footer p {
    background-color: darkorange;    
}
/* .content-col {display: flex;
flex-wrap: wrap;}
*/

/*header {
    color: #000;
    background-image: url();
    /*background-size: cover;*/
    /*background-position: center;
    background-color: #fff;*/
}*/

.skills header {
    background-image: url();
} 

.profile header {
    background-image: url();
}


h2 {
  color: rgb(0,0,0);
}

main {
    /*background-image: url(../img/icons8-brandenburger-tor-50.png);
    background-image: url(../img/icons8-berliner-fernsehturm-50.png);
    background-color: rgb(255,255,255);*/
    background-size: 10%;   
    /*border:30px;*/
}

footer {
    color: #fff;
}



/*
Typography
*/


/*
Layout
*/

/* some header stuff*/
/*.index-h1 {
    
}*/

h2,h3,h4,h5,h6,
p,ul,ol {
    padding-left: 20px;
    padding-bottom: 0.5em;
     padding-top: 0.5em;
}

.h1-pos-index {
     padding-top: 1.2em;
}



.h1-p2 {color:red;}

#color-h1 {color: green}

header {
    height: 10vw; /* 15vw stands for 15% of the Viewport Width*/
}

.div-col {
            list-style-type: none;
            display: flex;
            padding: 0;
}



main {
    min-height: 70vh; /* 70vh stands for 70% of the Viewport Heigth*/
}



p {
    width:80%;
    margin-bottom: 2.0em;
}

article p {
    font-size: 1.3em;
    line-height: 1.3em;
}

aside p {
    font-size: 0.8em;
}


/*comments in CSS lower class definition overwrite upper definition */