/* 
Stylesheet for exercise 02 in the MAT 22b class at DCI Oct/Nov 2019.
Author Enno Hyttrek
*/

/*
Import
*/
@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');
/*
Reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}     /*  * - means all in the page, empty selector*/ 

/*
Navigation
*/

.main-nav {
            position: fixed;
            top: 0;
            width: 100%;
}

.main-nav ul {
            list-style-type: none;
            display: flex;
            padding: 0;
}

.main-nav ul li{
            margin-right: 10px;
}

.main-nav ul li a {
            display: inline-block;
            font-family: 'Helvetica',Arial, sans-serif;
            background-color: orange;
            color: white;
            padding: 3px 6px;
            text-decoration: none;
}

.main-nav ul li a:hover {        
            background-color: red; 
            color: black;
}
/* font-cascade - first find 'Helvetica', if not in system use 'Arial', if not include use 'sans-serif'*/

/*
Color
*/

body,
footer p {
    background-color: rgb(30,30,30);    
}

header {
    color: #fff;
    background-image: url(../img/halloween-2905531_1920.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(200,200,200); /*lightgray*/
}

.where header {
    background-image: url(../img/night-photograph-4581108_1920.jpg);
} 

.why header {
    background-image: url(../img/log-4576925_1920.jpg);
}

h2 {
  color:darkred;
}

main {
    background-image: url(../img/bat-3369882_640.png);
    background-color: rgb(230,230,230);
    background-size: 20%;
    
}

p {
    color: #fff;
    background-color: rgb(255,128,0);  
    padding-right:  1em;
}

footer {
    color: #fff;
}



/*
Typography
*/

h1 {
    font-family: 'Creepster', cursive;
    font-size: 3em
}

body {
    font-family: 'Roboto', sans-serif;
}

/*
Layout
*/

h1,h2,h3,h4,h5,h6,
p,ul,ol {
    padding-left: 20px;
    padding-bottom: 1em;
     padding-top: 0.5em;
}

h1 {
     padding-top: 1.1em;
}

header {
    height: 25vw; /* 15vw stands for 15% of the Viewport Width*/
}

main {
    min-height: 70vh; /* 70vh stands for 70% of the Viewport Heigth*/
}

p {
    width:80%;
    margin-bottom: 0.5em;
}

article p {
    font-size: 1.3em;
    line-height: 1.3em;
}

aside p {
    font-size: 0.8em;
}


/*comments in CSS lower class definition overwrite upper definition */